<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="js/script.qrcode.js" defer></script>
    <link rel="stylesheet" href="css/styles.qrcode.css" />
  </head>
  <body>
    <div class="full-box">
      <div class="box">
        <div class="speakeasy sub-box">
          <img src="<%= obj.data %>" />
          <p id="base32"><%= obj.base32 %></p>
        </div>
        <form action="" class="sub-box" autocomplete="off">
          <button type="button" id="textCopy">Copy String</button>
          <input type="text" maxlength="6" minlength="6" required name="code" class="input-box" placeholder="Enter The TOTP" />
          <input type="submit" value="Verify" class="button" />
        </form>
        <div class="g-auth">
          <img id="gauth" src="assets/gauth.jpg" alt="jpg" />
          <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Download Google Authenticator</a>
        </div>
      </div>
      <img id="gif" src="assets/Google Authenticator first time set up.gif" alt="gif" />
    </div>
  </body>
</html>
