<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/style.index.css" />
  </head>
  <body>
    <div class="full-box">
      <div class="box">
        <form action="/verify" method="post" class="box" method="post" autocomplete="off">
          <label for="name">Phone</label>
          <input type="tel" name="number" class="input-box" maxlength="10" minlength="10" required />
          <label for="password">Password</label>
          <input type="password" name="password" class="input-box" />
          <input type="submit" value="Login" class="button" />
        </form>
        <form action="/register" method="get" class="box">
          <label>New User ?</label>
          <input type="submit" value="Register" class="button" />
        </form>
      </div>
      <img src="svg/undraw_access_account_re_8spm.svg" alt="SVG" />
    </div>
  </body>
</html>
