<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification</title>
    <link rel="stylesheet" href="css/style.verification.css" />
  </head>
  <body>
    <div class="full-box">
      <form action="/verify/dashboard" method="post" class="box" autocomplete="off">
        <label for="verification_code">Enter The 6 Digit Code</label>
        <input type="text" name="verification_code" class="input-box" maxlength="6" minlength="6" required />
        <input type="submit" value="Verify" class="button" />
      </form>
      <img src="svg/undraw_forgot_password_re_hxwm.svg" alt="SVG" />
    </div>
  </body>
</html>
